.user-card{
    background-color: #ebebeb;
    border-radius: 5px;
    width:450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:16px;
    margin:14px 0;
    cursor: pointer;
}

.username, .email, .phone{
    margin-bottom: 8px;
}

.username{
    font-weight: 600;
    color:#222;
}

.email, .phone{
    font-size: 14px;
    font-weight: 500;
}

.icon-container{
    display: flex;
    flex-direction: column;
}

.icon{
    margin-top:8px;
    color:#444;
}